* {
font-family: 'Courier New', Courier, monospace;
margin: 0;
padding: 0;
box-sizing: border-box;
}

hr {
background-color: #D81E5B;
color: #D81E5B;
}

.mainContent {
background-color: #3A3335;

}

.header {
align-items: center;
text-align: center;
color: #D81E5B;
}

.mainContent.header {

align-items: center;
text-align: center;
color: #D81E5B;

}

.footer {

color: #3A3335;
align-items: center;
text-align: center;
background-color: #D81E5B;
}

.dropDown{
margin-left: 5px;
border: 1px solid #F0544F ;
color: #F0544F;
background-color: #3A3335;

width: 5vw;
height: 1.5rem;
padding: 2px  2px  2px  2px;
}

.dataField{
margin-bottom: 10px;
}

.dataField p span{
color: #fdf0d5;
}

.oscMainBody{
display: flex;
flex-direction: row;
}

.oscValsLeft {
color: #F0544F;
width: fit-content;
margin-left: 10px;
padding-top: 10px;
padding-bottom: 10px;
text-align: right;
flex-shrink: 0;
}

.oscValsCenter{
color: #fdf0d5;
width: fit-content;
margin-left: 100px;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
}

.oscValsRight{
color: #F0544F;
width: fit-content;
margin-left: 100px;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
}